In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/DAUP/supermarket_sales -.csv')

In [6]:
df.isna().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [7]:
df.shape

(1000, 17)

Task - 1

In [8]:
total_transactions = len(df)

In [9]:
#P(A)
count_A = len(df[df["Customer type"] == "Member"])
P_A = count_A / total_transactions
print(P_A)

0.501

In [10]:
#P(B)
count_B = len(df[df["Payment"] == "Credit card"])
P_B = count_B / total_transactions
print(P_B)

0.311

In [11]:
#P(AnB)
count_A_Intersection_B = len(df[(df["Customer type"] == "Member") & (df["Payment"] == "Credit card")])
P_A_Intersection_B = count_A_Intersection_B / total_transactions
print(P_A_Intersection_B)

0.172

In [12]:
#P(AuB)
P_A_U_B = P_A + P_B - P_A_Intersection_B
print(P_A_U_B)

0.6400000000000001

In [13]:
#P(A|B)
P_A_given_B = P_A_Intersection_B / P_B if P_B != 0 else 0
print(P_A_given_B)

0.5530546623794211

In [14]:
#Probability of Health & Beauty
count_health_beauty = len(df[df["Product line"] == "Health and beauty"])
P_health_beauty = count_health_beauty / total_transactions
print(P_health_beauty)

0.152

In [15]:
#Probability of a customer used Ewallet and purchased more than 5 items
count_ewallet = len(df[df["Payment"] == "Ewallet"])
count_ewallet_more_than_5 = len(df[(df["Payment"] == "Ewallet") & (df["Quantity"] > 5)])
p_more_than_5_given_ewallet = count_ewallet_more_than_5 / count_ewallet if count_ewallet != 0 else 0
print(p_more_than_5_given_ewallet)

0.48695652173913045

In [16]:
#transaction from Yangon used Cash as the payment method
count_Yangon = len(df['City']=="Yangon")
count_Yangon_cash =  len(df[(df["City"] == "Yangon") & (df["Payment"] == "Cash")])
P_Yangon_given_cash = count_Yangon_cash / count_Yangon if count_Yangon != 0 else 0
print(P_Yangon_given_cash)

0.11

In [17]:
#selecting a customer who is a Member and has given a rating above 8.
count_member_rating_above_8 = len(df[(df["Customer type"] == "Member") & (df["Rating"] > 8)])
P_member_rating_above_8 = count_member_rating_above_8 / total_transactions

TASK - 2

In [18]:
import math

In [19]:
def permutations(n,r):
    return math.factorial(n)//math.factorial(n-r)

In [20]:
def combinations(n,r):
    return math.factorial(n)//(math.factorial(n-r)*math.factorial(r))

In [21]:
_20_p_5_ = permutations(20,5)
print(_20_p_5_)

1860480

In [22]:
_6_C_3_ = combinations(6,3)
print(_6_C_3_)

20

In [23]:
num_branches = df["Branch"].nunique()
fact_branches = math.factorial(num_branches)
print(fact_branches)

6

In [24]:
perm_4_from_3 = permutations(3, 4) if 3 >= 4 else "Not possible"
print(perm_4_from_3)

Not possible

In [25]:
comb_5_from_15 = combinations(15, 5)
print(comb_5_from_15)

3003

In [26]:
perm_6_from_26 = permutations(26, 6)
print(perm_6_from_26)

165765600

In [27]:
print("Probability Results:")
print(f"P(A) (Member transaction): {P_A:.3f}")
print(f"P(B) (Credit Card payment): {P_B:.3f}")
print(f"P(A ∪ B) (Member or Credit Card payment): {P_A_U_B:.3f}")
print(f"P(A ∩ B) (Member and Credit Card payment): {P_A_Intersection_B:.3f}")
print(f"P(A | B) (Member given Credit Card payment): {P_A_given_B:.3f}")
print(f"P(Health & Beauty product line transaction): {P_health_beauty:.3f}")
print(f"P(Purchasing more than 5 items given Ewallet payment): {p_more_than_5_given_ewallet:.3f}")
print(f"P(Cash payment given Yangon transaction): {P_Yangon_given_cash:.3f}")
print(f"P(Member and Rating > 8): {P_member_rating_above_8:.3f}")

Probability Results:
P(A) (Member transaction): 0.501
P(B) (Credit Card payment): 0.311
P(A ∪ B) (Member or Credit Card payment): 0.640
P(A ∩ B) (Member and Credit Card payment): 0.172
P(A | B) (Member given Credit Card payment): 0.553
P(Health & Beauty product line transaction): 0.152
P(Purchasing more than 5 items given Ewallet payment): 0.487
P(Cash payment given Yangon transaction): 0.110
P(Member and Rating > 8): 0.157

In [28]:
print("\nCombinatorial Results:")
print(f"Ways to arrange 5 transactions from 20 sales: {_20_p_5_}")
print(f"Ways to select 3 product lines from 6 categories: {_6_C_3_}")
print(f"Factorial of the number of different branches: {fact_branches}")
print(f"Ways to display 4 payment methods from 3 available types: {perm_4_from_3}")
print(f"Ways to select 5 employees from 15 for a survey: {comb_5_from_15}")
print(f"Ways to create unique invoice codes using 6 letters: {perm_6_from_26}")

Combinatorial Results:
Ways to arrange 5 transactions from 20 sales: 1860480
Ways to select 3 product lines from 6 categories: 20
Factorial of the number of different branches: 6
Ways to display 4 payment methods from 3 available types: Not possible
Ways to select 5 employees from 15 for a survey: 3003
Ways to create unique invoice codes using 6 letters: 165765600